@import '@/assets/css/main.css';
/*///*/
.cart-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
  }
  
  .cart-grid {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 20px;
    @media (max-width:1023px) {
        grid-template-rows: max-content;
        grid-template-columns: none;
        overflow: hidden;
    }
  }

  .cart-items {
    background: white;
    padding: 15px;
    border-radius: 10px;
  }
  

  .cart-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
    align-items: center;
    object-fit: cover;
    gap: 15px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    @media (max-width: 1023px) {
        grid-template-rows: auto;
        object-fit: cover;
    }
  }

  .cart-item-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    object-fit: cover;
  }

  .cart-item-info {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    @media (max-width: 352px) {
      font-size: 12px;
    }
  }

  .cart-item-controls {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .cart-item-controls button {
    background: #ddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    @media (max-width: 352px) {
      font-size: 12px;
    }
  }
  
  .cart-item-controls span {
    font-size: 18px;
    font-weight: bold;
    @media (max-width: 352px) {
      font-size: 12px;
    }
  }
  

  .cart-remove {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: red;
  }
  
  .cart-summary {
    position: fixed;
    right: 50px;
    width: 30%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    @media (max-width:1023px) {
      position: relative;
      width: 100%;
      right: unset;
      
    }
  }
  
  .cart-total {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .cart-checkout {
    background: var(--caret-color);
    color: white;
    padding: 15px;
    border: none;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    @media (max-width: 1023px) {
      margin-bottom: 50px;
    }
  }
  
  .cart-checkout:hover {
    background: var(--caret-hover);
  }