:root {
	--caret-color: rgb(131, 86, 62);
	--caret-hover: rgb(165, 125, 104);
}

.bg-primary {
	background-color: var(--caret-color);
	color: white;
}

.card {
	display: grid;
	grid-template-columns: repeat(6, calc(16.6667% - 25px));
	justify-content: center;
	align-items: center;
	gap: 30px;
	max-height: auto;
	padding: 20px 50px;
	@media (max-width: 1279px) {
		grid-template-columns: repeat(4, calc(25% - 4px));
		grid-auto-flow: dense;
	}

	@media (max-width: 767px) {
		grid-template-columns: repeat(2, calc(50% - 4px));
		grid-auto-flow: dense;
		padding: 10px 25px;
	}
	margin-bottom: 50px;
}

.card-items {
	display: grid;
	grid-template-columns: auto;
	filter: drop-shadow(7px 5px 15px #0000001c);
	background-color: #ffffff;
	gap: 10px;
	padding: 10px 10px;
	border-radius: 10px;
	object-fit: fill;
	min-width: 100%;
}

.hover\:bg-primary\/90:hover {
	background-color: var(--caret-hover);
}

/* Стиль для индикатора загрузки */
.loading {
	display: grid;
	grid-template-rows: repeat(6, calc(16.6667% - 25px));
	justify-content: center;
	align-items: center;
	gap: 30px;
	max-height: auto;
	margin: 20px 50px;
	right: 50;
	left: 50;
	@media (max-width: 1279px) {
		grid-template-rows: repeat(4, calc(25% - 4px));
		grid-auto-flow: dense;
	}

	@media (max-width: 767px) {
		grid-template-rows: repeat(2, calc(50% - 4px));
		grid-auto-flow: dense;
		padding: 10px 25px;
	}
}

.card--ps {
	font-size: 1rem;
	@media (max-width: 1279px) {
		font-size: 0.9rem;
	}
	@media (max-width: 767px) {
		font-size: 0.8rem;
	}
	@media (max-width: 326px) {
		font-size: 0.7rem;
	}
}

.pagination {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 20px;

	margin-bottom: 70px;
}

.pagination span {
	display: flex;
	align-items: center;
	font-size: 1rem;
	@media (max-width: 1279px) {
		font-size: 0.9rem;
	}
	@media (max-width: 767px) {
		font-size: 0.8rem;
	}
	@media (max-width: 326px) {
		font-size: 0.7rem;
	}
	
}

.pagination button {
	padding: 8px 12px;
	color: #ffffff;
	font-size: 1rem;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	background-color: var(--caret-color);
	@media (max-width: 1279px) {
		font-size: 0.9rem;
	}
	@media (max-width: 767px) {
		font-size: 0.8rem;
	}
	@media (max-width: 326px) {
		font-size: 0.7rem;
	}
}

.pagination button:disabled {
	background-color: var(--caret-hover);
	cursor: not-allowed;
}
