@import '@/assets/css/main.css';

:root {
	--icon-delivery: url('@/assets/img/icon-delivery.svg');
	--icon-favorite: url('@/assets/img/icon-favorite.svg');
	--icon-profile: url('@/assets/img/icon-profile.svg');
	--icon-cart: url('@/assets/img/icon-cart.svg');
	--icon-home: url('@/assets/img/icon-home.svg');
	--icon-cat: url('@/assets/img/icon-cat.svg');
}

header {
	position: sticky;
	left: 0;
	top: 0;
	width: 100vw;
	z-index: 200;
	height: auto;
}
.nav--container {
	display: grid;
	grid-template-columns: auto;
	position: sticky;
	align-items: center;
	grid-template-columns: max-content auto max-content;
	grid-template-rows: auto;
	gap: 30px;
	background-color: var(--caret-color);
	padding: 10px 20px;
	z-index: 100;
}

.logo {
	color: white;
	font-size: 3rem;
	@media (max-width: 1023px) {
		display: none;
	}
}

.nav--search {
	display: flex;
	align-items: center;
	@media (max-width: 1023px) {
		width: 100%;
	}
}

.nav--search__place {
	border-radius: 5px;
	width: 100%;
	height: 3rem;
	font-size: 2rem;
	padding: 20px;
	background-color: white;
	@media (max-width: 1023px) {
		width: 100%;
		font-size: 1rem;
	}
}

.nav--pc_items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
	color: white;
	@media (max-width: 1023px) {
		display: none;
	}
}
.nav--pc_link {
	cursor: pointer;
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;
	transition: color 0.3s;
	display: block;
}

.nav--pc_icon {
	background-position: 50%;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	margin: 0 auto 6px;
	display: block;
}

.nav--pc_icon__delivery {
	position: relative;
}
.nav--pc_icon__delivery::before {
	content: '';
	width: 100%;
	height: 100%;
	-webkit-mask-position: 50%;
	mask-position: 50%;
	-webkit-mask-size: auto;
	mask-size: auto;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-image: var(--icon-delivery);
	-webkit-mask-image: var(--icon-delivery);
	mask-image: var(--icon-delivery);
	background-color: #ffffff;
	position: absolute;
	top: 0;
	left: 0;
}

.nav--pc_icon__favorite {
	position: relative;
}
.nav--pc_icon__favorite::before {
	content: '';
	width: 100%;
	height: 100%;
	-webkit-mask-position: 50%;
	mask-position: 50%;
	-webkit-mask-size: auto;
	mask-size: auto;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-image: var(--icon-favorite);
	-webkit-mask-image: var(--icon-favorite);
	mask-image: var(--icon-favorite);
	background-color: #ffffff;
	position: absolute;
	top: 0;
	left: 0;
	@media (max-width: 1023px) {
		background-color: #000;
		width: 40px;
		height: 50px;
	}
	@media (max-width) {
	}
}

.nav--pc_icon__profile {
	position: relative;
}
.nav--pc_icon__profile::before {
	content: '';
	width: 100%;
	height: 100%;
	-webkit-mask-position: 50%;
	mask-position: 50%;
	-webkit-mask-size: auto;
	mask-size: auto;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-image: var(--icon-profile);
	-webkit-mask-image: var(--icon-profile);
	mask-image: var(--icon-profile);
	background-color: #ffffff;
	position: absolute;
	top: 0;
	left: 0;

	@media (max-width: 1023px) {
		background-color: #000000;
		width: 40px;
		height: 40px;
	}
}

.nav--pc_icon__cart {
	position: relative;
}
.nav--pc_icon__cart::before {
	content: '';
	width: 100%;
	height: 100%;
	-webkit-mask-position: 50%;
	mask-position: 50%;
	-webkit-mask-size: auto;
	mask-size: auto;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-image: var(--icon-cart);
	-webkit-mask-image: var(--icon-cart);
	mask-image: var(--icon-cart);
	background-color: #ffffff;
	position: absolute;
	top: 0;
	left: 0;
	@media (max-width: 1023px) {
		background-color: #000;
		width: 45px;
		height: 50px;
	}
}

.nav--container_mob {
	display: none;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 0 4px;
	padding-bottom: 20px;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: none;
	background-color: #ffffff;
	align-items: center;
	overflow: hidden;
	@media (max-width: 1023px) {
		display: grid;
	}
}

.nav--mob_icon__home {
	position: relative;
	display: block;
}

.nav--mob_icon__home::before {
	content: '';
	width: 40px;
	height: 50px;
	-webkit-mask-position: 50%;
	mask-position: 50%;
	-webkit-mask-size: auto;
	mask-size: auto;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-image: var(--icon-home);
	-webkit-mask-image: var(--icon-home);
	mask-image: var(--icon-home);
	background-color: #000000;
	position: absolute;
	top: 0;
	left: 0;
}

.nav--mob_icon__category {
	position: relative;
}

.nav--mob_icon__category::before {
	content: '';
	width: 34px;
	height: 50px;
	-webkit-mask-position: 50%;
	mask-position: 50%;
	-webkit-mask-size: auto;
	mask-size: auto;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-image: var(--icon-cat);
	-webkit-mask-image: var(--icon-cat);
	mask-image: var(--icon-cat);
	background-color: #000000;
	position: absolute;
	top: 0;
	left: 0;
}
