@import '@/assets/css/main.css';

.product-page {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	padding: 60px;
	background-color: #ffffff;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;
}

.product-image {
	width: 100%;
	max-width: 500px;
	object-fit: contain;
	margin-bottom: 20px;
}

.product-info {
	display: flex;
	flex-direction: column;
}

.product-info h1 {
	font-size: 32px;
	font-weight: bold;
	color: #333;
	margin-bottom: 10px;
}

.product-info .price {
	font-size: 24px;
	font-weight: bold;

	margin-bottom: 20px;
}

.product-info .description {
	font-size: 16px;
	color: #555;
	margin-bottom: 20px;
}

.product-info .characteristics {
	font-size: 14px;
	color: #777;
	margin-bottom: 20px;
}

.product-info .buy-buttons {
	display: flex;
	gap: 15px;
	margin-top: 20px;
}

.product-info .buy-buttons button {
	padding: 15px 20px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
	border: none;
	transition: background-color 0.3s ease;
}

.product-info .buy-buttons .add-to-cart {
	background-color: var(--caret-color);
	color: white;
}

.product-info .buy-buttons .add-to-cart:hover {
	background-color: var(--caret-hover);
}

.product-info .buy-buttons .go-to-cart {
	background-color: #f1f1f1;
	color: #333;
}

.product-info .buy-buttons .go-to-cart:hover {
	background-color: #e1e1e1;
}

.not-found {
	display: grid;
	width: 100%;
	height: auto;
	gap: 30px;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 15% 0;
}

.not-found__text {
	font-size: 3rem;
}

@media (max-width: 768px) {
	.product-page {
		grid-template-columns: 1fr;
		padding: 20px;
	}

	.product-info h1 {
		font-size: 26px;
	}

	.product-info .price {
		font-size: 22px;
	}

	.product-info .description {
		font-size: 14px;
	}

	.product-info .characteristics {
		font-size: 12px;
	}
}

.carousel-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 100%;
}

.main-slider {
	width: 100%;
	max-width: 400px;
	height: 350px;
}

.main-slider img {
	width: 100%;
	height: auto;
	object-fit: contain;
}

.thumb-slider {
	width: 100%;
	max-width: 90%;
	height: auto;
	display: flex;
	overflow-x: auto;
	padding-left: 10px;
}

.thumb-slider img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 5px;
	cursor: pointer;
	transition: transform 0.3s;
}

.thumb-slider img:hover {
	transform: scale(1.1);
}

@media (max-width: 768px) {
	.main-slider {
		max-width: 300px;
		height: 250px;
	}

	.thumb-slider {
		max-width: 300px;
		height: auto;
	}

	.thumb-slider img {
		width: 100%;
		height: auto;
	}
}

.swiper-button-next {
	display: none;
	color: var(--caret-color);
	@media (max-width: 1023px) {
		display: none;
	}
}

.swiper-button-prev {
	display: none;
	color: var(--caret-color);
	@media (max-width: 1023px) {
		display: none;
	}
}

.swiper-wrapper {
	width: 100%;
}


.button--container{
	z-index: 3;
	display: flex;
	justify-content: start;
	flex-direction: row;
	width: 100%;
	@media (max-width: 1023px) {
		display: flex;
		justify-content: start;
		flex-direction: row;
		width: 100%;
		
	}
}