@import url('main.css');

.bg-var-color {
	background-color: var(--caret-color);
}

.bg-var-color:hover {
	background-color: var(--caret-hover);
}

.min-h-screen {
	min-height: 100%;
	overflow: hidden;
	margin-top: 10%;
	padding-left: 20px;
	padding-right: 20px;
}

/* Дополнительные стили для мобильных экранов */
@media (max-width: 320px) {
	.max-w-md {
		width: 100%;
		padding: 1rem;
	}
}


.rout-to-reg{
	font-style: italic;
	margin: 10px 0;
}
.rout-to-reg:hover{
	cursor: pointer;
	color: rgb(67, 67, 67);
	
}

.user-role{
	height: 100vh;
}

