@import '@/assets/css/main.css';

.product-list{
	display: grid;
	grid-template-columns: repeat(6, calc(16.6667% - 25px));
	justify-content: center;
	align-items: center;
	gap: 30px;
	max-height: auto;
	padding: 20px 50px;
	@media (max-width: 1279px) {
		grid-template-columns: repeat(4, calc(25% - 4px));
		grid-auto-flow: dense;
	}

	@media (max-width: 767px) {
		grid-template-columns: repeat(2, calc(50% - 4px));
		grid-auto-flow: dense;
		padding: 10px 25px;
	}
	margin-bottom: 50px;
}

.search-page h1{
   text-align: center;
}